:root {
    --primary-color: #ff6f00;
    --secondary-color: #f4f4f4;
    --text-color: #333;
}

*{
  box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

.section-about {
    padding: 50px 250px;
}

.container-card {
    padding-bottom: 0px;
}

.container-card h1{
    background-color: #ff6f00;
    border-radius:  10px 10px 0 0;
    padding: 10px 10px;
    width: 100%;
    margin: 0;
    color: white;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ff6f00;
}

.about-content p {
    text-align: justify;
    padding: 10px;
}

/*Layout Style*/
main{
  display: flex;
}

/* LADO ESQUERDO */
.left-side{
    width: 20%;
    position: fixed;
    height: 100vh;
    padding: 50px 25px;
    border-right: 1px solid #ff6f00;
    overflow-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userPhotoMain {
    max-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ff6f00;
}

.left-side ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.left-side ul li {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    padding-bottom: 15%;
}

.left-side ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

/* LADO DIREITO */
.right-side{
    margin-left: 20%;
    width: 80%;
    padding: 0;
}

/*Time Line Post Style */
.postagem {
    width: 100%;
    border-bottom: 1px solid #ff6f0031;
    padding-left: 50px;
    
}

/*Post Header Style*/
.post-header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.post-header h2 {
    margin-left: 10px;
}

.post-date {
    margin-left: auto;
    font-size: 0.8em;
    color: #888;
    justify-content: flex-end;
}
.userPostPhoto {
    width: 60px;
    border-radius: 50%;
    border: 1px solid #ff6f00;
    aspect-ratio: 1/1;
}

/*Post Content Style*/
.post-main{
    padding-right: 10px;
}
.post-images{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.post-images img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

/*Post Footer Style*/
.post-footer{
    padding: 10px 0;
    display: flex;
    max-height: 75px;
}

.post-footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.post-icon {
    max-width: 25px;
}

/* Criar Postagem */
.criar-postagem {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
  background-color: var(--primary-color);
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  
  transition: 0.3s;
}

.criar-postagem:hover {
  transform: scale(1.1);
}

/* Modal Criar Postagem */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 10px;
}

.janela {
  display: flex;
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 1500px;
  max-height: 2500px;
  flex-direction: column;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}