<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Sem Nome</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/main.js"></script>
</head>
<body>

<main>
    <a href="#" class="criar-postagem" onclick="abrirJanela()">+</a>
    <div id="overlay" class="overlay">
        <div class="janela">
            <span class="fechar" onclick="fecharJanela()">×</span>
            <form method="post" action="/posts" enctype="multipart/form-data">
                <h1>Criar Publicação</h1>
                <p>Titulo da publicação:<input type="text" name="title" required></p>
                <p>Conteúdo da publicação:<textarea name="content" placeholder="O que você está pensando?" required></textarea></p>
                <p>Imagens:<input type="file" name="images" accept="image/*" multiple></p>
                <button type="submit">Publicar</button>
        </div>
    </div>
    <div class="left-side">
        <img src="/public/assets/UserPlaceholder.jpg" alt="Foto do usuario" class="userPhotoMain">
        <nav>
            <ul>
                <li><a href="index.html">TimeLine</a></li>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="about.html">Sobre</a></li>
            </ul>
        </nav>
    </div>
    <div class="right-side">
        <div class="postagem">
            <div class="post-card">
                <div class="post-header">
                    <img src="/public/assets/UserPlaceholder.jpg" alt="Foto do usuário" class="userPostPhoto">
                    <h2>titulo da postagem</h2>    
                    <span class="post-date">01/01/2026</span>
                </div>
                <div class="post-main">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa atque doloremque officia eligendi consequuntur mollitia nobis magni, facilis delectus at reprehenderit voluptates eveniet asperiores vel ipsam cum sunt? Illum, eligendi?</p>
                    <div class="post-images">
                        <img src="/public/assets/PostPlaceholder.jpg" alt="Foto da postagem" class="primeiraImagem">
                        <img src="/public/assets/PostPlaceholder2.jpg" alt="Foto da postagem 2" class="Imagem2">
                        <img src="/public/assets/PostPlaceholder3.jpg" alt="Foto da postagem 3" class="Imagem3">
                        <img src="/public/assets/PostPlaceholder4.jpg" alt="Foto da postagem 4" class="imagem4">
                    </div>

                </div>
                <div class="post-footer">
                    <p class="post-curtidas">0</p>
                    <button class="comentar-btn"><img src="/public/assets/gostar.png" class="post-icon"></button>
                    <p class="post-comentarios">0</p>
                    <button class="comentar-btn"><img src="/public/assets/comente.png" class="post-icon"></button>
                    <p class="post-compartilhamentos">0</p>
                    <button class="comentar-btn"><img src="/public/assets/compartilhar.png" class="post-icon"></button>
            </div>
        </div>
    </div>
</main>
</body>
</html>