<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/main.js"></script>
</head>
<body>
    <div class="login-form">
        <form method="post" action="/register" enctype="multipart/form-data">
            <h1>Registrar</h1>
            <p>Nome de usuário:<input type="text" name="username" required></p>
            <p>Email:<input type="email" name="email" required></p>
            <p>Senha:<input type="password" name="password" required></p>
            <p>Confirmar Senha:<input type="password" name="confirmPassword" required></p>
            <p>Insira sua foto de perfil: <input type="file" name="profilePicture" accept="image/*"><div class="preview-foto-user">
                <img id="preview" src="#" alt="Preview da Foto" style="display: none; max-width: 200px; max-height: 200px;">
            </div></p>
            <button type="submit">Registrar</button>
    </div>
</body>
</html>